name: prerelease

on:
  workflow_dispatch:
  push:
    paths-ignore:
      - '.github'
      - 'README.md'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Run build.sh
        run: |
          wget -O ./clash/clash/geoip.dat https://github.com/MetaCubeX/meta-rules-dat/releases/download/latest/geoip-lite.dat
          wget -O ./clash/clash/geosite.dat https://github.com/MetaCubeX/meta-rules-dat/releases/download/latest/geosite-lite.dat
          chmod +x installcore.sh && ./installcore.sh
          wget -O adgh.tar.gz https://github.com/AdguardTeam/AdGuardHome/releases/download/v0.107.29/AdGuardHome_linux_arm64.tar.gz
          tar -zxvf adgh.tar.gz && mv ./AdGuardHome/AdGuardHome ./clash/dns/adgh && rm -r ./AdGuardHome
          zip -r -o -X -ll clash.zip ./ -x '.git/*' -x 'README.md' -x '.github/*' -x 'installcore.sh'

      - name: Delete current prerelease assets
        uses: andreaswilli/delete-release-assets-action@v2.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          tag: Prerelease
          deleteOnlyFromDrafts: false

      - name: Tag Repo
        uses: richardsimko/update-tag@v1
        with:
          tag_name: Prerelease
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload Prerelease
        uses: softprops/action-gh-release@v1
        if: ${{ success() }}
        with:
          tag: Prerelease
          tag_name: Prerelease
          files: clash.zip
          prerelease: true
          generate_release_notes: true